.agencies {
  text-align: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    font-size: 16px;
    color: rgb(61, 46, 79);
    line-height: 1.375;
    @include AvenirLTStd-Light();
  }

  &__logo {
    display: block;
    margin-bottom: 10px;

    img {
      display: block;
      height: 80px;
      margin: 0;
    }
  }

  &__title {
    display: block;
    text-transform: uppercase;
    @include AvenirLTStd-Heavy();
  }

  &__address {
    display: block;
    margin-bottom: 29px;
    font-style: normal;
    font-size: 18px;
    color: rgb(61, 46, 79);
    line-height: 1.222;
    @include AvenirLTStd-Medium();
  }

  &__mail {
    display: block;
    margin-bottom: 6px;
    color: #ff4d00;
    border-bottom: 1px solid transparent;
    transition: border .3s ease-in-out;

    &:hover {
      border-color: #ff4d00;
    }
  }

  &__phone {
    display: block;
    margin-bottom: 6px;
    color: rgb(61, 46, 79);
    border-bottom: 1px solid transparent;
    transition: border .3s ease-in-out;

    &:hover {
      border-color: rgb(61, 46, 79);
    }
  }
}
@media (min-width: $phone-landscape) {
  .agencies {

  }
}
@media (min-width: $tablet-portrait) {
  .agencies {
    display: flex;
    justify-content: center;

    &__item {
      max-width: 310px;
      padding: 0 25px;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .agencies {
    padding: 56px 25px;
    margin-bottom: 57px;

    &__item {
      align-items: center;
    }

    &__logo {
      margin-bottom: 28px;
    }
  }
}
@media (min-width: $desktop) {
  .agencies {

  }
}

