.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(61, 46, 79);
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #ff4e00;
  @include AvenirLTStd-Heavy();
  box-shadow: 0 18px 30px rgba(255,78,0,.06);

  &.active {
    color: #fff;
    background: #ff4e00;
  }
}

@media (min-width: $phone-landscape) {
  .btn {

  }
}
@media (min-width: $tablet-portrait) {
  .btn {

  }
}
@media (min-width: $tablet-landscape) {
  .btn {
    padding: 16px 37px;
    transition: color .3s ease-in-out, background .3s ease-in-out;

    &:hover {
      color: #fff;
      background: #ff4e00;
    }
  }
}
@media (min-width: $desktop) {
  .btn {

  }
}