
.count {
  position: relative;
  overflow: hidden;
  height: 1em;

  &.active {

    .count__list {
      animation-name: twist-animate;
      animation-timing-function: linear;
      //animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: translateY(0);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(calc(-100% + 1em));

    i {
      display: block;
      font-style: normal;
    }
  }
}

@-webkit-keyframes twist-animate {
  0% {
    -webkit-transform: translateY(calc(-100% + 1em));
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes twist-animate {
  0% {
    transform: translateY(calc(-100% + 1em));
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: $phone-landscape) {
  .count {

  }
}
@media (min-width: $tablet-portrait) {
  .count {

  }
}
@media (min-width: $tablet-landscape) {
  .count {

  }
}
@media (min-width: $desktop) {
  .count {

  }
}
@media (min-width: $desktop-hd) {
  .count {

  }
}

