//fonts
@mixin AvenirLTStd-Heavy() {
  font-family: "AvenirLTStd-Heavy", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin AvenirLTStd-Black() {
  font-family: "AvenirLTStd-Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin AvenirLTStd-Book() {
  font-family: "AvenirLTStd-Book", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin AvenirLTStd-Light() {
  font-family: "AvenirLTStd-Light", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin AvenirLTStd-LightOblique() {
  font-family: "AvenirLTStd-LightOblique", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin AvenirLTStd-Medium() {
  font-family: "AvenirLTStd-Medium", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin AvenirLTStd-Roman() {
  font-family: "AvenirLTStd-Roman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
@mixin absoluteCenterX() {
  position: absolute;
  left: 50%;
  transform: translateX( -50% );
}
@mixin absoluteCenterY() {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
}