.navigation {

  &__item {
    display: block;
    font-size: 16px;
    line-height: 2;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    @include AvenirLTStd-Heavy();

    i { display: none; }

    &.active {
      color: #ff4e00;
    }
  }
}
@media (min-width: $phone-landscape) {
  .navigation {

  }
}
@media (min-width: $tablet-portrait) {
  .navigation {

  }
}
@media (min-width: $tablet-landscape) {
  .navigation {

  }
}
@media (min-width: $desktop) {
  .navigation {
    display: flex;
    align-items: center;

    &__item {
      position: relative;
      overflow: hidden;
      width: 16px;
      height: 30px;
      margin-left: 30px;
      color: transparent;
      white-space: nowrap;

      &.active {
        color: transparent;

        i svg { fill: rgb(61, 46, 79) }
      }

      i {
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 10px;

        svg {
          width: 100%;
          height: 100%;
          fill: #ff4e00;
        }
      }
    }
  }
}
@media (min-width: $desktop-hd) {
  .navigation {
    display: flex;
    align-items: center;

    &__item {
      display: flex;
      align-items: center;
      overflow: hidden;
      width: auto;
      height: auto;
      white-space: normal;
      margin-left: 58px;
      font-size: 12px;
      letter-spacing: 1.1px;
      color: rgb(61, 46, 79);
      text-transform: uppercase;
      transition: color .3s ease-in-out;
      @include AvenirLTStd-Heavy();

      &:before {
        @include absoluteCenterY();
        left: -31px;
        width: 2px;
        height: 9px;
        background: #a8b2b7;
        content: '';
      }

      &:first-child {
        margin-left: 0;

        &:before { display: none }
      }

      &.active {
        color: #ff4e00;

        i svg { fill: #ff4e00 }
      }

      &:hover {
        color: #ff4e00;
      }
    }
  }
}

