.project-preview {
  padding: 15px;

  &__content {
    margin-bottom: 40px;
  }

  &__info {
    text-align: center;
    @include AvenirLTStd-Light();

    p {
      font-size: 20px;
      color: rgb(61, 46, 79);
      line-height: 3.067;

      span {
        color: #ff4e00;
      }
    }
  }

  &__logo {

  }

  &__icons {

    &-item {
      display: flex;
      align-items: flex-end;
      padding: 20px 0;
      font-size: 40px;
      color: rgb(61, 46, 79);
      line-height: 1.533;
      @include AvenirLTStd-Light();

      i {
        position: relative;
        margin-right: 40px;
        line-height: normal;

        span {
          display: block;
          position: absolute;
          left: 30px;
          bottom: 12px;
          font-size: 12px;
          color: rgba(61, 46, 79, 0.502);
          text-transform: uppercase;
          @include AvenirLTStd-Heavy();
        }

        svg {
          width: 85px;
          height: 71px;
          fill: #ff4e00;
        }
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .project-preview {

  }
}
@media (min-width: $tablet-portrait) {
  .project-preview {

  }
}
@media (min-width: $tablet-landscape) {
  .project-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    padding: 150px 50px;

    &__content {
      width: 50%;
      padding-right: 25px;
      margin-bottom: 0;
    }

    &__info {
      width: 50%;
      padding-left: 25px;

      p {
        font-size: 30px;
      }
    }

    &__icons {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      &-item {
        display: flex;
        align-items: flex-end;
        padding: 0 40px;
        font-size: 60px;
        color: rgb(61, 46, 79);
        line-height: 1.533;
        @include AvenirLTStd-Light();

        i {
          position: relative;
          margin-right: 40px;
          line-height: normal;

          span {
            display: block;
            position: absolute;
            left: 30px;
            bottom: 12px;
            font-size: 12px;
            color: rgba(61, 46, 79, 0.502);
            text-transform: uppercase;
            @include AvenirLTStd-Heavy();
          }

          svg {
            width: 85px;
            height: 71px;
            fill: #ff4e00;
          }
        }
      }
    }
  }
}
@media (min-width: $desktop) {
  .project-preview {

  }
}

