.steps {
  background-color: #fff;

  .site__title {
    padding: 48px 50px;
    font-size: 36px;
    line-height: 2.556;
  }

  &__item {
    position: relative;
  }

  #storey {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__list {

  }

  &__storey {
    display: none;

    &.active {
      display: block;
    }
  }
}

canvas {
  display: block;
  width: 100%;
}

.storey {
  position: relative;
}
.appartment canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: $phone-landscape) {
  .steps {

  }
}
@media (min-width: $tablet-portrait) {
  .steps {

  }
}
@media (min-width: $tablet-landscape) {
  .steps {

  }
}
@media (min-width: $desktop) {
  .steps {

  }
}

